* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#grid {
  height: 100vh;
}

#left {
  background: crimson;
}

#right {
  background: navajowhite;
  border: 3rem solid rgb(0 0 0 / 10%);
}

#grid {
  transition: 300ms;
  display: grid;
  grid-template-columns: 48px auto;
}

#grid:has(#left:hover) {
  grid-template-columns: 30% auto;
}